<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>QR Verification Project</h1>
        <ul>
            <a href="/">
                <li>home</li>
            </a>
            <a href="scanneer">
                <li>qr</li>
            </a>
            <a href="create_products">
                <li>create product</li>
            </a>
        </ul>
        <button id="connect" class="connect">connect wallet</button>
    </header>
    <main>
        <div id="reader"></div>
        <p id="scanned-data"></p>
    </main>
    <hr>
    <section>
        <h2>Are You A Producer ?</h2>
        <a href="create_products"><button id="create">Create a Product</button></a>
    </section>
    <hr>
    <section>
        <h2>Recently Added Product</h2>
        <div id="prod-main"></div>
    </section>
    <script src="/assets/js/ethers.min.js"></script>
    <script type="module" src="/assets/js/scanscript.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</body>

</html>