<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>

<header>
    <h1>QR Verification Project</h1>
    <ul>
        <a href="/">
            <li>home</li>
        </a>
        <a href="scanneer">
            <li>qr</li>
        </a>
        <a href="create_products">
            <li>create product</li>
        </a>
    </ul>
    <button id="connect" class="connect">connect wallet</button>
</header>
<main>
    <img src="/assets/images/folly-qr-img.jpg" class="qr" alt="">
    <div class="download">
        <a href="#" download="/assets/images/folly-qr-img.jpg"><button>Download</button></a>
    </div>
</main>
<script type="module" src="/assets/js/scanscript.js"></script>
</body>

</html>