body {
    margin: 0;
    font-family: Arial;
    text-transform: capitalize;
}

header {
    width: 100%;
    background-color: #293854;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 50px;
}

#reader {
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
}

ul {
    display: flex;
    margin-left: -100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin-right: 30px;
    color: black;
}

.connect {
    margin-right: 50px;
    padding: 15px;
    color: #fdfff7;
    background-color: #201f24;
    border: none;
    cursor: pointer;
}

main {
    padding-top: 50px;
    display: grid;
    place-content: center;
}

.qr {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.download {
    text-align: center;
}

.download a button {
    padding: 15px;
    color: #fdfff7;
    background-color: #293854;
    border: none;
    cursor: pointer;
}

#scanned-data {
    margin-top: 180px;
    height: 50px;
}

section {
    display: grid;
    place-content: center;
}

.pls {
    background-color: #293854;
    border-width: 2px;
    padding: 10px 10px 10px 30px;
    border-color: #201f24;
    border-style: solid;
    color: #fdfff7;
}

#form {
    border-width: 1px;
    padding: 10px;
    width: 400px;
    height: 300px;
    border-color: #201f24;
    border-style: solid;
    display: grid;
    place-content: center;
}

#name,
#brand,
#qr,
#description {
    width: 250px;
    padding: 10px;
    margin-top: 5px;
}

#submit {
    margin-top: 10px;
    margin-left: 100px;
    padding: 8px 15px;
    background-color: #201f24;
    color: #fdfff7;
    border: none;
}

#submit:hover {
    cursor: pointer;
}

#submit:active {
    opacity: 0.9;
}

#create {
    background-color: #201f24;
    color: #fdfff7;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
}

#prod-main {
    display: grid;
    place-content: center;
    grid-column: 1 1 1;
    row-gap: 30px;
    column-gap: 30px;
}